html, body{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
    font-family: 'Roboto', sans-serif;  
}
/*background settings*/
body{
    background-color: white
    }

* {
    margin: 0;
  }

/*header settings*/
header{
    height: 60px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: black;
    color: aliceblue;

}

/* horizontal list*/ 
ul, li {
    display:inline
}

/*surline en gris les liens */
li:hover{
    color: gray;
    background-color: gray;
}

article{
    padding: 10px; 
    text-justify: auto;
}
h2{
    text-transform: uppercase;
}

footer {
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:30px;  
    background-color: black;
    color: aliceblue;
}

